<div class = "row">
  <div class="col-md-2 col-md-offset-5 col-sm-4 col-sm-offset-4">
    
    <%= form_for(@user) do |f| %>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <div class="alert alert-danger">
            <%= pluralize(@user.errors.count, "error") %> prohibited
            this user from being saved:
          </div>
          <ul>
            <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
     
      
      <%= f.label :first_name %><br>
      <%= f.text_field :first_name, :placeholder => "First Name", class: 'form-control' %>
      <!-- produces the following:
      <label for="user_name">Name</label>
      <input id="user_name" name="user[name]" type="text" /> -->

      <%= f.label :last_name %><br>
      <%= f.text_field :last_name, :placeholder => "Last Name", class: 'form-control' %>
      
      <%= f.label :phone_number %><br>
      <%= f.telephone_field :phone_number, :placeholder => "+15556667777", class: 'form-control' %>
      
      <%= f.label :email %><br>
      <%= f.email_field :email, :placeholder => "username@email.com", class: 'form-control' %>
      
      <%= f.label :password %><br>
      <%= f.password_field :password, :placeholder => "Password", class: 'form-control' %>
      
      <%= f.submit "Submit", class: "btn btn-primary" %>
      
    <% end %>
    <%= button_to "Cancel", :root, class: "btn btn-default:focus", style:"margin-top: 5px", :method => :get %>
  </div>
</div>