<div class="container-fluid">
  <h2>User Information</h2>
  <p>
    <strong>Name:</strong>
    <%= @user.first_name %> <%= @user.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  <%= link_to "Edit", edit_user_path(current_user), :type => "button", :class => "btn btn-success", :method => :get %>
  <%= link_to "Delete", user_path(current_user), :class => "btn btn-default", :method => :delete, :data => { :confirm => 'Are you sure?' } %>

  <h3>Your Events</h3>
  <!-- Add all events user has created here -->
  <div class="all_events">

  	<% @events.each do |event| %>
      <%= render partial: "layouts/event", locals: {event: event,user_created_event:true} %>
      <% end %>
  </div>


  <h3>Others' Events You've Attended</h3>
  <!-- Add all events user has created here -->

      <% @attended_events.each do |event| %>
          <% @events.each do |event| %>
  <%= render partial: "layouts/event", locals: {event: event, user_created_event:false} %>
          <% end %>
      <% end %>
</div>