<h2>User Information</h2>
<p>
  <strong>Name:</strong>
  <%= @user.first_name %> <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to "Edit", edit_user_path(current_user), :type => "button", :class => "btn btn-success", :method => :get %>
<%= link_to "Delete", user_path(current_user), :class => "btn btn-default", :method => :delete, :data => { :confirm => 'Are you sure?' } %>

<h3>Your Events</h3>
<!-- Add all events user has created here -->
<table class="all_events">
	<thead>
		<tr>
			<th>Title</th>
			<th>Description</th>
			<th>Start Time</th>
			<th>End Time</th>
			<th>Actions</th>
		</tr>
	</thead>

	<% @events.each do |event| %>
	<tr>
		<td><%= event.title %></td>
		<td><%= event.description %></td>
		<td><%= event.start_time %></td>
		<td><%= event.end_time %></td>
		<td><%= link_to 'Edit', edit_event_path(event) %>
        <%= link_to 'Destroy', event_path(event),
                method: :delete,
                data: { confirm: 'Are you sure?' } %></td>
	</tr>
	<% end %> 
</table>