<div class = "row">
  <div class="col-md-2 col-md-offset-5 col-sm-4 col-sm-offset-4">
    <%= form_for(@event) do |f| %>
      <% if @event.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

          <ul>
          <% @event.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="actions">
          <%= f.label :title %><br>
          <%= f.text_field :title, :placeholder => "Event Title", class: 'form-control' %>

          <%= f.label :description %><br>
          <%= f.text_field :description, :placeholder => "Event Description", class: 'form-control' %>

          <%= f.label :person_count_cap %><br>
          <%= f.text_field :person_count_cap, :placeholder => "Maximum Number of Guests", class: 'form-control' %>

          <%= f.label :person_count_cap %><br>
          <%= f.number_field :person_count_cap, :placeholder => "Maximum Number of Guests", class: 'form-control' %>

        <%= f.submit "Submit", class: "btn btn-primary" %>
      </div>
    <% end %>
    <%= button_to "Cancel", events_path, class: "btn btn-default:focus", style:"margin-top: 5px", :method => :get %>
  </div>
</div>
